


html {
  font-size: 22px;
  line-height: 1.5;
}

body {
background: black;

}

audio {
   display:none;
}

* {
  margin: 0;
}

p {
  padding-bottom: 0.8rem;
  font-family: 'Cutive Mono',  monospace;
  font-weight: 400;
  color: #FF00FF;
}

.text {
  width: 500px;
}

.einleitung p{
  font-size: 1.2rem;
}

.article-einleitung {
  max-width: 900px;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}


.header {
  background-color: #000000;
  padding: 0.5rem;
  position: fixed;
  left:0px;
  right: 0px;
  text-align: center;
  top: 0;
  z-index: 105;
}

.header a {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  letter-spacing: 2px;
}


.background {
  width: 100%;
  height: auto;
  z-index: 0;
  padding-top: 0.5rem;
}


.article {
  position: relative;
  z-index: 100;
  width: 700px;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;

}

/* NOTE: Überschrift Neon Sign "Cyberpunk" */



.Überschrift-Neon-On {
  top: 10%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}


.Überschrift-Neon-On img {
  width: 100%;
}

/* NOTE: Unterüberschrift Origins */

.Origins-Off {
  top: 73%;
  position: absolute;
  left: 10%;
  z-index: 100;
}

.Origins-On {
  top: 73%;
  position: absolute;
  left: 10%;
  z-index: 100;
  opacity: 0;
}

.Origins-Off:hover {
  opacity:0;
}

.Origins-On:hover {
  opacity:1;
}

.Origins-Off img {
  width: 120%;
}

.Origins-On img {
  width: 120%;
}

/* NOTE: Unterüberschrift Definition */

.Definition-Off {
  top: 73%;
  position: absolute;
  left: 57%;
  z-index: 100;
}

.Definition-On {
  top: 73%;
  position: absolute;
  left: 57%;
  z-index: 100;
  opacity: 0;
}

.Definition-Off:hover {
  opacity:0;
}

.Definition-On:hover {
  opacity:1;
}

.Definition-Off img {
  width: 100%;
}

.Definition-On img {
  width: 100%;
}

/* NOTE: Unterüberschrift Essence */

.Essence-Off {
  top: 65%;
  position: absolute;
  left: 30%;
  z-index: 100;
}

.Essence-On {
  top: 65%;
  position: absolute;
  left: 30%;
  z-index: 100;
  opacity: 0;
}

.Essence-Off:hover {
  opacity:0;
}

.Essence-On:hover {
  opacity:1;
}

.Essence-Off img {
  width: 60%;
}

.Essence-On img {
  width: 60%;
}



/* NOTE: Unterüberschrift When is Cyberpunk Now */

.Now-Off {
  top: 73%;
  position: absolute;
  right: 45%;
  z-index: 100;
}

.Now-On {
  top: 73%;
  position: absolute;
  right: 45%;
  z-index: 100;
  opacity: 0;
}

.Now-Off:hover {
  opacity:0;
}

.Now-On:hover {
  opacity:1;
}

.Now-Off img {
  width: 100%;
}

.Now-On img {
  width: 100%;
}

/* NOTE: Exit Sign */

.Exit-Off {
  top: 73%;
  position: absolute;
  right: 5%;
  z-index: 100;
  width: 150px;
}

.Exit-On {
  top: 73%;
  position: absolute;
  right: 5%;
  z-index: 100;
  opacity: 0;
  width: 150px;

}

.Exit-Off:hover {
  opacity:0;
}

.Exit-On:hover {
  opacity:1;
}

.Exit-Off img {
  width: 100%;
  height: auto;
}

.Exit-On img {
  width: 100%;
  height: auto;
}

/* NOTE: Icon */

.hintergrundbildorigins {
  background-image: url(Bilder/ComputerNeon.gif);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1500px;
  opacity: 0.9;
}

.hintergrundbilddefinition {
  background-image: url(Bilder/zeichenneon.gif);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1500px;
  opacity: 0.9;
}



.hintergrundbildessence{
  background-image: url(Bilder/autoneon.gif);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: 1500px;
  opacity: 0.9;

}



.hintergrundbildnow {
  background-image: url(Bilder/gunneon.gif);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1500px;
  opacity: 0.9;
}


/* NOTE: Zitate Hervorhebungen */


.Röhre img {
  width: 50px;
  z-index:100;
}

.Röhre {
  z-index: 100;
}

.article-quote {
  display: flex;
  align-items: center;
}

.quote {
  padding:25px;
}




/* NOTE: Regen Animation */

.regen {
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.animated-rain4 {
  animation: rain 0.4s infinite;
  z-index: 5;
}

.animated-rain3 {
  animation: rain 0.6s infinite;
  z-index: 5;
}

.animated-rain2 {
  animation: rain 0.9s infinite;
  z-index: 5;
}

.animated-rain {
  animation: rain 0.1s infinite;
  z-index: 5;
}

.animated-rain5 {
  animation: rain 0.1s infinite;
  z-index: 5;
}

.animated-rain6 {
  animation: rain 0.3s infinite;
  z-index: 5;
}

.animated-rain7 {
  animation: rain 0.5s infinite;
  z-index: 5;
}

.animated-rain8 {
  animation: rain 0.8s infinite;
  z-index: 5;
}



@keyframes rain {
  to {
    transform: translateY(1500px) translateX(140px);
  }
}


.background {
  padding-top: 32%;
}

.article-parallax {
  width: 100%;
  height: auto;

}


/* Responsive*/

@media screen and (max-width: 900px) {

.Origins-Off {
  opacity: 0;
}

.Origins-On {
  opacity: 0;
}

.Origins-Off img {
  opacity: 0;
}

.Origins-On img {
  opacity: 0;
}

.Definition-Off {
  opacity: 0;
}

.Definition-On {
  opacity: 0;
}

.Definition-Off img {
  opacity: 0;
}

.Definition-On img {
  opacity: 0;
}

.Essence-Off {
  opacity: 0;
}

.Essence-On {
  opacity: 0;
}

.Essence-Off img {
  opacity: 0;
}

.Essence-On img {
  opacity: 0;
}


.Now-Off {
  opacity: 0;
}

.Now-On {
  opacity: 0;
}

.Now-Off img {
  opacity: 0;
}

.Now-On img {
  opacity: 0;
}

.Exit-Off {
  opacity: 0;
}

.Exit-On {
  opacity: 0;
}

.Exit-Off img {
  opacity: 0;
}

.Exit-On img {
  opacity: 0;
}

/* .Überschrift-Neon-Off {
  top: 30%;
  z-index: 105;
}

.Überschrift-Neon-On {
  top: 30%;
  z-index: 105;
}

.Überschrift-Neon-Off img {
  width: 100%;
}

.Überschrift-Neon-On img {
  width: 100%;
}

.Origins-Off {
  top: 25%;
  left: 50%;
  transform: translateX(-18%);
}

.Origins-On {
  top: 25%;
  left: 50%;
  transform: translateX(-18%);
}

.Origins-Off img {
  width: 50%;
}

.Origins-On img {
  width: 50%;
}

.Definition-Off {
  top: 20%;
  left:50%;
  transform: translateX(-16%);
}

.Definition-On {
  top: 20%;
  left:50%;
  transform: translateX(-16%);
}

.Definition-Off img {
  width: 60%;
}

.Definition-On img {
  width: 60%;
}

.Essence-Off {
  top: 15%;
  left:50%;
  transform: translateX(-25%);
}

.Essence-On {
  top: 15%;
  left:50%;
  transform: translateX(-25%);
}

.Essence-Off img {
  width: 70%;
}

.Essence-On img {
  width: 70%;
}

.Now-Off {
  top: 10%;
  left:50%;
  transform: translateX(-50%);
}

.Now-On {
  top: 10%;
  left:50%;
  transform: translateX(-50%);
}

.Now-Off img {
  width: 80%;
}

.Now-On img {
  width: 80%;
}


.Exit-Off {
  top: 5%;
  left:50%;
  transform: translateX(-15%);
}

.Exit-On {
  top: 5%;
  left:50%;
  transform: translateX(-15%);
}

.Exit-Off img {
  width: 20%;
}

.Exit-On img {
  width: 20%;
}*/

h1 {
  font-size: 1rem;
  padding-top: 2rem;
}

}
