html {
font-size: 18px;
line-height: 1.3;
}


body {
  font-family: 'Yantramanav', sans-serif;
  background-color: white;
}

/*Tastenkombination für kommentare: anmarkieren und dann: cmd, shift, 7 oder: n plus tab (note)*/

h1 {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 3.0rem;
}

/* first of type: nur der erste Absatz wird verändert*/

.article-text:first-of-type p:first-of-type {
  font-size: 1.1rem
}


.article-inner {
  max-width: 700px;
  margin-left:auto;
  margin-right: auto;
}

.article-inner-wide {
  max-width: 4000px;
  margin-left: auto;
  margin-right: auto;
}
  /* NOTE: rechts unten blur überfüllen farbe */
  box-shadow: 10px 10px 10px 0 darkgrey;
}

.article-module {
  padding: 25px 0;
}

.article-text-info {
  background-color: lightgrey;
  padding: 1rem;
  margin-bottom: 1rem;

  /* NOTE: rechts unten blur überfüllen farbe */
  box-shadow: 10px 10px 10px 0 darkgrey;
}

/* NOTE: augen Animation*/

.animated-eye {
  animation: augenvergrößern 0.5s infinite alternate;
}

@keyframes augenvergrößern {
  to {
    transform: scale(1.55 );
    fill: yellow;
    transform
  }
}


/* NOTE: Gesicht Animation*/

.animated-face {
  animation: drehen 1s infinite;
  transform-origin: center;
}

@keyframes drehen {
  to {
    transform: rotate(360deg);
  }
}


.article-stage {
  background-image: url(bild3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  text-align:center;
  display: flex;
  align-items: flex-end;
  color: white;
  position: relative;
  margin-bottom: 75px;
}

.article-stage::before {
  content: 'i';
  background: linear-gradient(0deg, black, transparent);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.2;
}






.stage-headline {
  font-family: 'PT Serif';
  font-size: 3rem;
  position: relative;
}

.stage-subline {
  font-family: "Yantramanav";
  font-size: 1rem;
  font-weight: normal;
  position: relative;
}


.article-stage2 {
  background-image: url(bil2.png);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  min-height: 50vh;
  text-align:center;
  display: flex;
  align-items: flex-end;
  color: white;
  position: relative;
}

.article-module-article-related {
  max-width: 10px;
  margin-left:auto;
  margin-right: auto;
}

.article-inner-wide {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.article-image img {
  max-width: 100%;
}




body {
  margin: 0;
}


.article-teaser {
  display: flex;
  text-decoration: none;
  color: black;
}

.article-teaser:hover {
  color: white;
  transform: rotate(0.5deg);
}

.article-teaser-image img {
  width: 150px;
}


.article-teaser-image {
  margin-right: 1rem;
}

.article-teaser-headline {
  align-self: center;
}

.article-graphic {
  text-align: center;
}


/* NOTE: ende */
