html {
  font-family:  'PT Serif', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

/* NOTE Comentieren: COMAND + Shift + 7 */
h1 {
  font-family:'Arimo', serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 2rem;
  margin-top: 2em;
  margin-bottom: 1em;
}

/* NOTE Das ist der erste Absatz im Artikel */
.article-text:first-of-type p:first-of-type {
  font-size: 1.4rem;
}

.article-inner {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.article-inner-wide {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/*NOTE betrift nur die Bilder im Artikel*/
  /* 100% von div in section article-inner*/
.article-inner img {
max-width: 100%;
}

.article-image img{
max-width: 100%;
}

.article-module {
  background: 000;
  /*NOTE Bei diesen padding wird das Bild bis zum Rand gebracht*/
  /*NOTE Bei gleichen padding wird das Bild zentriert */
  padding: 50px 50px 50px 50px;
}

/*NOTE rgba(0, 0, 0, 0.1)*/
.article-text-info{
  background-color: yellow;
  float: right;
  width: 10rem;
  padding: 1rem 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5em;

}

.article-teaser {
  display: flex;
}

.article-teaser:hover .article-teaser-headline {
  color: green;
  transform: rotate(-3deg);
}

.article-teaser img {
  width: 80%;
  height: 80%;
  padding: 50px 50px 50px 0px;
}

.article-teaser-image {
  margin-right: 10rem;
}


.article-teaser-headline {
  align-self: center;
  font-family: 'Arimo', sans-serif;
  transition: all 1s;

}
