/* NOTE: rem nimmt oberste Schriftgröße als Beispiel */

html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }

header {
  margin-left: 3em;
}

h1 {
  font-family:'VT323', monospace;
  font-size: 500%;
  letter-spacing: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 5em;
  margin-bottom: 4em;
  margin-left: 10%;
  margin-right: 10%;
}

p {
  font-family: 'VT323', monospace;
  font-size:
  line-height: 1.4;
}

.header {
  display: flex;
  justify-content: center;
}

.header-picture img {
  max-width: 50%;
  height: auto;
}
