html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }

body {
  display:block;
}

header {
  margin:1em;
  height: auto;
}

h1 {
  font-family:'VT323', monospace;
  font-size: 500%;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 2em;
  margin-bottom: 4em;
}

p {
  font-family: 'VT323', monospace;
  line-height: 1.4;
}
