/* NOTE: rem nimmt oberste Schriftgröße als Beispiel */

html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }

header {
  margin-left: 3em;
}

h1 {
  font-family:'VT323', monospace;
  font-size: 500%;
  letter-spacing: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 5em;
  margin-bottom: 4em;
  margin-left: 10%;
  margin-right: 10%;
}

p {
  font-family: 'VT323', monospace;
  font-size: 1.6em;
  line-height: 1.4;
}

.header {
  display: flex;
  justify-content: center;
}

.header-picture img {
  max-width: 600px;
  height: auto;
}

.article-teaser {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 50px;
}

.article-teaser-image img{
  width: 120px;
}

.article-teaser-image {
  margin-right: 1rem;
}

.article-teaser-headline {
  align-self: center;
  font-family: sans-serif;
}

.article-teaser:hover {
  color: green;
}

.article-graphic {
  text-align: center;
}

.animated-eye {
  animation: eyes 3s infinite alternate;
  transform-origin: center;
}

@keyframes eyes {
  to {
    transform: scale(1.2);
    fill: blue;
  }
}
.animated-face {
  animation: drehen 20s infinite;
  transform-origin: center;
}

@keyframes drehen {
  to {
    transform: rotate(360deg);
  }
}
