html {
font-size: 19px;
line-height: 1.3;
}

body {
  font-family: 'Yantramanav', sans-serif;
  background-color: white;
  margin: 0;
}

h1 {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 3.5rem;
}

.header {
  background-color: #DB2823;
  padding: 1rem;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  height: 30px;
  display: flex;
}

.brand {
  width: 50%;
}

.navigation {
  width: 50%;
  text-align: right;
}

.header-logo {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.youtube-link {
  position: absolute;
  z-index: 10;
  font-size: 4.5rem;
  margin-left: 39%;
}

.youtube-link a {
  color: #DB2823;
}

/* NOTE: header bild */
.article-stage {
  background-image: url(landschaft.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: flex-end;
  color: white;
  position: relative;
  margin-bottom: 50px;
  z-index: 10;
}

/* NOTE: beim scrollen farbveränderun des bildes */
.article-stage::before {
  content: 'i';
  background: linear-gradient(0deg, black, transparent);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.2;
}

/* NOTE: schriften auf bild */
.stage-headline {
  font-family: 'PT Serif';
  font-size: 5.2rem;
  position: relative;
  margin: 5px 0;
}

.stage-subline {
  font-family: 'PT Serif';
  font-size: 2.1rem;
  font-weight: normal;
  position: relative;
  margin-bottom: 50%;
  margin-top: 5px;
  font-weight: bolder;
}

.stage-headline-1 {
  font-family: 'PT Serif';
  font-size: 3rem;
  position: relative;
}

.stage-subline-1 {
  font-family: 'PT Serif';
  font-size: 1.5rem;
  font-weight: normal;
  position: relative;
}

/* first of type: nur der erste Absatz wird verändert*/
.article-text:first-of-type p:first-of-type {
  font-size: 1.1rem
}

/* NOTE: absatz text zentrierung */
.article-inner {
  max-width: 700px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.article-inner-bild img {
    width: 700px;
    height: auto;
}

.article-inner-bild {
  text-align: center;
  margin-bottom: 50px;
}

.article-inner-wide {
  max-width: 4000px;
  margin-left: auto;
  margin-right: auto;
}

.article-module {
  padding: 25px 0;
}

/* NOTE: infobox */
.article-text-info {
  background-color: white;
  padding: 1.5rem;
  max-width: 700px;
  margin-left:auto;
  margin-right: auto;
  color: black;
  margin-bottom: 40px;

  /* box schatten: rechts unten blur überfüllen farbe */
  box-shadow: 10px 10px 10px 0 darkgrey;
}

.article-stage3 {
  background-image: url(youtube_facts.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 30vh;
  text-align:center;
  display: flex;
  align-items: flex-end;
  color: white;
  position: relative;
}

.eco-system {
  font-family: 'Yantramanav', sans-serif;
  font-weight: lighter;
  font-size: 0.5rem;
  margin-left: 20px;
  text-align: right;
  margin-right: 40px;
}

/* NOTE: 2.es bild  */
.article-stage2 {
  background-image: url(jenny_marbles.png);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  min-height: 50vh;
  text-align:center;
  display: flex;
  align-items: flex-end;
  color: white;
  position: relative;
}

.article-module-article-related {
  max-width: 10px;
  margin-left:auto;
  margin-right: auto;
}

.article-inner-wide {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.article-image img {
  max-width: 100%;
}

  /* NOTE: weiterführender link zu nächster website /position*/
.article-teaser {
  text-decoration: none;
  color: black;
  text-align: right;
}

.article-teaser:hover {
  color: #DB2823;
  transform: rotate(0.8deg);

}

.article-teaser-image {
  margin-right: 1rem;
}

.article-teaser-headline {
  align-self: center;
  color: white;
  margin-left: 700px;
}

/* NOTE: animation position */
.article-graphic {
  text-align: center;
}


/* NOTE: nach oben button */
.nachoben {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: black;
}

.nachoben a {
  color: black;
}

.nachoben a:hover {
  color: #910000
}

.button {
  background-color: white;
  border-radius: 50;
  font-family: 'Yantramanav', sans-serif;
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: url(eurozeichen.png), pointer; /*  geht nur mit giv oder png und darf nicht größer als 128px sein */
}

.button:hover {
  color: #DB2823;
}

/* NOTE: vh=browser höhe */
.article-interactive {
  min-height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.article-interactive {
  background: url(werbebanner.jpg);
  background-size: cover;
}

.playdrücken {
  background: url(make_money.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

[data-aos="drehen"] {
    filter: blur(500px);
    transform: rotate(180deg);
    transition-property: all;
  }

[data-aos="drehen"].aos-animate {
    filter: blur(0);
    transform: rotate(0);
  }
