

.nhl:after, ul li:after {
  content: "";
  display: table;
  clear: both;
}

.icon-nhl, .menu-icon-nhl {
  background: none no-repeat transparent;
  border: 0;
  overflow: hidden;
  text-indent: 120%;
  white-space: nowrap;
}

.uilist {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  position: relative;
  margin: 0;
  font-family: "Bitter", Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  color: #000;
  background-color: #fff;
}

html {
  font-size: 113%;
}

.main-nav {
  position: fixed;
  z-index: 5000;
}

@media only screen and (min-width: 62.5em) { /* 62.5em = 1.000 px */
  .main-nav {
    position: relative;
    z-index: 100;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.28em;
  background: #f9f9f9;
}

.menu-icon-nhl {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: url(image/favicon.svg);
}

.menu {
  position: relative;
  font-size: 0.8em;
  font-family: -apple-system, sans-serif;
  text-align: center;
  color: grey;
  background: #f9f9f9;
}

.menu-panel {
  position: static;
  box-shadow: none;
  border-bottom: 0;
}

.menu-primary {
  background: #f2f2f2;
  padding: 0 10px;
}

.menu-secondary {
  font-size: 1em;
  padding: 0 10px;
  line-height: 2.5em;
}

.menu-links {
  margin: 0 -10px;
  border-top: 1px solid red;
  border-left: 1px solid red;
}

.menu-links > li {
  float: left;
  width: 50%;
}

.menu-links > li.more:hover {
  display: block;
}

.menu-link {
  display: block;
  padding: 0 16px;
  line-height: 3.5em;
  vertical-align: middle;
  color: inherit;
  text-decoration: inherit;
}

.menu-link:hover {
  color: cyan;
  background: white;
}

.main-nav {
  position: relative;
}

.menu {
  text-align: left;
}

.menu-up {
  display: none;
}

.menu-down {
  display: block;
}

.menu-panel .menu-inner {
  padding: 0 0 0 60px;
}

.menu-inner {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.menu-main, .menu-sub {
  float: left;
}

.menu-primary, .menu-secondary {
  padding: 0 15px;
}

.menu-links {
  margin: 0;
  border: 0;
}

.menu-links > li {
  width: auto;
  border: 0;
}

.menu-home {
  display: block;
  position: absolute;
  top: 0.55rem;
  left: 5px;
}

.headline {
  text-align: center;
  margin-top: -200px;
}

.title {
  text-align: center;
  font-family: -apple-system, sans-serif;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 1px;
  color: white;
}

.subtitle {
  font-family: -apple-system, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.6;
  color: white;
}

.subtitle a {
  text-decoration: underline;
  color: white;
}

/* ---------------> transform + scale = !!! AUSPROBIEREN !!!

  transform: rotate(-3deg) scale(1.2);
  skew = neigen (auch in Grad)

<--------------- */

.text {
  margin-top: 50px;
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
  z-index: 100;
}

.navibar {
  height: 52px;
  line-height: 1;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
}

.navibar a {
  font-family: -apple-system, sans-serif;
}

.header {
  background-image: url('../image/test.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  text-align: center;
  position: relative;
  color: white;
}

.header-content {
  position: absolute;
  bottom: 20%;
  width: 100%;
}

.header-headline {
  font-family: -apple-system, sans-serif;
  font-size: 2.2em;
  line-height: 0.6;
}

.header-subline {
  font-family: -apple-system, sans-serif;
  font-size: 1.2em;
  line-height: 0.6;
}

.header-subline a {
  color: white;
}
