

.nhl:after, ul li:after {
  content: "";
  display: table;
  clear: both;
}

.icon-nhl, .menu-icon-nhl {
  background: none no-repeat transparent;
  border: 0;
  overflow: hidden;
  text-indent: 120%;
  white-space: nowrap;
}

body {
  position: relative;
  margin: 0;
  font-family: "Bitter", Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  color: #000;
  background-color: #fff;
}

html {
  font-size: 1.0em;
}

ul li {
  list-style: none;
  /*display: inline;*/
  float: left;
}

/*
.main-nav {
  position: fixed;
  z-index: 5000;
}

.menu {
  position: relative;
  font-size: 1.4em;
  font-family: -apple-system, sans-serif;
  text-align: center;
  color: grey;
  background: #f9f9f9;
}

.menu-panel {
  position: static;
  box-shadow: none;
  border-bottom: 0;
}

.menu-primary {
  background: #f2f2f2;
  padding: 0 10px;
}

.menu-link {
  display: block;
  padding: 10px 10px 35px 10px;
}

.menu-link:hover {
  color: #aaa;
}

.menu-up {
  display: none;
}

.menu-panel .menu-inner {
  padding: 0 0 0 60px;
}

.menu-main {
  float: left;
}

.menu-primary {
  padding: 0 15px;
}

.menu-links {
  margin: 0;
  border: 0;
}

.menu-links > li {
  width: auto;
  border: 0;
}

*/

/* ---------------> transform + scale = !!! AUSPROBIEREN !!!

  transform: rotate(-3deg) scale(1.2);
  skew = neigen (auch in Grad)

<--------------- */

.text {
  margin-top: 50px;
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  z-index: 100;
}

.header {
  background-image: url('../image/test.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  text-align: center;
  position: relative;
  color: white;
}

.header-content {
  position: absolute;
  bottom: 20%;
  width: 100%;
}

.header-headline {
  font-family: -apple-system, sans-serif;
  font-size: 2.2em;
  line-height: 0.6;
}

.header-subline {
  font-family: -apple-system, sans-serif;
  font-size: 1.2em;
  line-height: 0.6;
}

.header-subline a {
  color: white;
}
