@media screen {

/* General */
* {
  box-sizing: border-box;
}

::selection{
  background: #00ffff;
  color: yellow;
}
html {
    overflow: auto;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 23px;
  background:url(../img/bg.png) repeat fixed;
  min-height: 2000px;
  color: #fff;
  min-height: min-content;
}

.res {
  height: auto;
  width: 100%;
}



/* Scrollbar */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background:url(../img/bg.png) repeat;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: cyan;
}

/* Fonts */

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 10vw;
  cursor: default;
  line-height: 100vh;
  text-shadow: 1px -2px 6px, 1px -2px 12px, 1px -6px 16px;
  height: 100vh;
  -webkit-animation: glitch 3s steps(100) infinite;
    animation: glitch 3s steps(100) infinite;
    transform: scale(1) 3s infinite;
    transform-origin: center;
}


p {
  color: #fff;
}

/* Tunnel Image */

.hover01 figure {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.hover01 figure img {
  height: auto;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}


@media only screen and (max-width: 800px) {
  .hover01 div {
  	position: relative;
  	width: 100%;
  	height: auto;
  	padding: 0;
  }

  .hover01 div:before {
  content: "I need to sleep";
  text-transform: uppercase;
  font-size: 2.6em;
  line-height: 1em;
  position: absolute;
  top:48%;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
   text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  }
}
@media only screen and (min-width: 801px) {
  .hover01 div {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .hover01 div:before {
  content: '„Schlaf wird total überbewertet.“';
  text-transform: uppercase;
  font-size: 2.6em;
  line-height: 1em;
  position: absolute;
  top:48%;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
   text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00ff , 0 0 70px #ff00ff , 0 0 80px #ff00ff , 0 0 100px #ff00ff ;
  }
}
@media only screen and (min-width: 1024px) {
  .hover01 div {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .hover01 div:before {
  content: '„Schlaf wird total überbewertet.“';
    text-transform: uppercase;
    font-size: 3.6em;
    line-height: 1em;
    position: absolute;
    top:48%;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00ff , 0 0 70px #ff00ff , 0 0 80px #ff00ff , 0 0 100px #ff00ff ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    }

  .hover01 div:hover:before {
  content: '„Schlaf wird total überbewertet.“';
    text-transform: uppercase;
    font-size: 3.6em;
    line-height: 1em;
    position: absolute;
    top:48%;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}
}

@media only screen and (min-width: 1800px) {
  .hover01 div {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .hover01 div:before {
  content: '„Schlaf wird total überbewertet.“';
    text-transform: uppercase;
    font-size: 5em;
    line-height: 1em;
    position: absolute;
    top:48%;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00ff , 0 0 70px #ff00ff , 0 0 80px #ff00ff , 0 0 100px #ff00ff ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    }

  .hover01 div:hover:before {
  content: '„Schlaf wird total überbewertet.“';
    text-transform: uppercase;
    font-size: 5em;
    line-height: 1em;
    position: absolute;
    top:48%;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}
}
}


/* Activebox */

.activebox{
  padding: 0.7em 2em;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.2em;
  border-radius: 2px;
  border: 3px double yellow;
  position: relative;
  box-shadow: -1px 0px 30px 1px magenta;
  margin-top: 10px;
    background:url(../img/bg.png) repeat fixed;
}

.activebox p:first-child{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4em;
}

.img-hover:hover {
transform: scale(1.1);
  transition: 300ms;
}

/* Text */

.mt-37 {
  margin-top: 50px;
}

.artikel a.headline{
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #00ffff;
font-size: 2em;
  text-decoration: none;
  display: block;
  position: relative;
      letter-spacing: 3px;
}

.artikel a.headline:after{
  width: 37px;
  background: magenta;
  height: 3px;
  content: "";
  position: absolute;
  bottom: -21px;
  left: 0;
}

.artikel a.readmore:hover{
  background: yellow;
  color: magenta;
  transition: 300ms;
}
.artikel a.readmore{
  padding: 4px 38px;
  color: yellow;
  text-decoration: none;
  border: 1px solid yellow;
  margin-top: 6px;
  font-size: 0.8em;
  display: inline-block;
}
.artikel p:nth-child(1){
opacity: 0.5;
}

.seperator {
  position: relative;
  margin: 50px 0;
  padding: 0px 0;
}


.text {
  margin: 80px auto;
}

/* Poem */
.poem  p.hightlight{
font-size: 1rem;
position: relative;
margin-bottom: 40px;
color: yellow;
    letter-spacing: 3px;
}
.poem  p.hightlight span{
  display: block;
  font-size: 2em;
  text-transform: uppercase;padding-bottom: 10px;

}

.poem  p.hightlight:after{
  width: 37px;
  background: magenta;
  height: 3px;
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
}


/*--------------Play Button------------------*/



.button {
  border-radius: 0;
  border: 2px solid #1b1b1b;
  background-color: yellow;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5rem;
  padding: 15px 35px;
  font-weight: bold;
  margin: 0 auto;
  cursor: pointer;
}

.button:focus {
  outline: 2px cyan;
}

.button:hover {
    background: none;
}

.article-interactive {
  text-align: center;
  background-color: cyan;
  padding: 20vh 0;
}

.action {
    background: url(../img/rainbow.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.action .button{
    background: none;
}




/*--------------Parallax------------------*/


#bubbles1, #bubbles2,#bubbles3,#bubbles4{
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 position: fixed;
 z-index: -1;
 -webkit-transform: scale(1);
transform: scale(1);
}

#bubbles1{
 background: url(../img/pill1.png) 95% 90% no-repeat;
}
#bubbles2{
 background: url(../img/pill2.png) 5% 50%  no-repeat;
}
#bubbles3{
    background: url(../img/pill3.png) 71% -19px no-repeat;
}
#bubbles4{
    background: url(../img/pill4.png) 7% 100% no-repeat;
}


.meds-cont{
  position: relative;
}

.scrollblock {
	position: relative;
	margin: 0;
	width: 100%;
	height: auto;
}

}
