html{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: white;
  /*opacity: 0.75;*/
}

@media all and (min-width: 800px) {

  html {
    font-size: 20px;
  }

}

body{
  background-color: #000000;
  background-image: url(../images/background5.png);
  background-attachment: fixed;
  padding: 0;
}

.backgroundstars{
  background-image: url(../images/background4.png);
  padding: 0;
  opacity: 0.75;
}

.article-inner{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 3rem;
  font-variant: small-caps;
  margin-bottom: 1em;
  color: white;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-variant: small-caps;
  margin-bottom: 1em;
  color: white;
}

p:first-of-type{
/*p:first-of-type{
  font-size: 1.4rem;
}*/

/*Ich bin ein Kommentar. Funktioniert so: CMD+Shift+7. Tadaa!*/

.article-image img {
  width: 100%;
}

/* NOTE: der erste Absatz im ersten Textmodul
.article-text:first-of-type p:first-of-type {
  font-size: 1.4rem;
}*/

/*Ich bin ein Kommentar. Funktioniert so: CMD+Shift+7. Tadaa!*/

.article-module {
  padding: 1.5rem 0;
}

.article-text-info {
  background-color: magenta;
  float: right;
  width: 10rem;
  padding: 0.6rem 1.3rem;
  margin-top: 3rem;
  margin-left: 1rem;
  border: 5px dashed yellow;
  box-shadow: 10px 10px 20px 0 red;
}

.article-teaser{
display: flex;
text-decoration: none;
color:red
}

.article-teaser:hover {
  color: green;
}

.article-teaser:hover .article-teaser-headline {
  transform: rotate(180deg);
}

.article-teaser-image {
  margin-right: 1rem;
}

.article-teaser-image img{
  width: 120px;
}

.article-teaser-headline {
  align-self: center;
  font-family: 'Josefin Sans', sans-serif;
  color: magenta;
  transition: all 10s;
}

.article-graphic {
  text-align: center;
}

.animated-eye  {
  animation: mega 1s infinite alternate;
  transform-origin: center;
}

@keyframes mega {
  to {
    fill: magenta;
    transform: scale(1, 0.2) translateY(200px);
  }
}

/*.animated-face {
  animation: drehen 10s infinite;
  transform-origin: center;
}

@keyframes drehen{
  to{
    transform: rotate(360deg);
  }
}

.mund {
  animation: munddrehen 10s infinite;
  transform-origin: center;

}

@keyframes munddrehen{
  to {
    transform: rotate(-360deg);
  }

  10%{
    stroke: green;
  }
  30%{
    stroke:turquoise;
  }
  50%{
    stroke:blue;
  }
  70%{
    stroke:violet;
  }
  90%{
    stroke:pink;
  }
}
.animated-dot {
  animation: verschieben 10s infinite;
  transform-origin: center;
}

@keyframes verschieben{
  25% {
    transform: translate(370px, 0px)
    fill:turquoise;
  }
  50% {
    transform: translate(0px, 370px)
    fill:green;
  }
  75% {
    transform: translate(-370px, 0px)
    fill:blue;
  }
  100% {
    transform: translate(0px, -370px)
  }
}*/

.article-stage {
/*  background-image: url(../images/milkyway.jpg);*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.article-stage::before {
  content: "";
  /*background: linear-gradient(0deg, black, transparent, black);*/
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
}

.stage-headline {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-size: 2rem;
  line-height: 1.2;
  position: relative;
}

.stage-subline {
  font-weight: normal;
  font-size: 1.2rem;
  position: relative;
}

.thomas {
  width: 300px;
  height: auto;
  position: absolute;
  margin-left: -310px;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.thomas:hover {
  filter: grayscale(0%);
}

.henry {
  width: 250px;
  height: auto;
  position: absolute;
  margin-left: 640px;
  margin-top: -120px;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.henry:hover {
  filter: grayscale(0%);
}

.john {
  width: 200px;
  height: auto;
  position: absolute;
  margin-left: -250px;
  margin-top: -120px;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.john:hover {
  filter: grayscale(0%)
}

.hieronymus {
  width: 250px;
  height: auto;
  position: absolute;
  margin-left: 640px;
  margin-top: -50px;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.hieronymus:hover {
  filter: grayscale(0%);
}


.button {
  background-color: #ffdeeb;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 0;
  box-shadow: 7px 7px magenta;
  cursor: url(../images/schluessel.png), pointer;

}

.button:hover{
  background-color: magenta;
  border: 2px dotted yellow;
  box-shadow: 7px 7px yellow;
}

.button:focus{
  outline: none;
}

.article-interactive{
  text-align: center;
  min-height: 60vh;
  display: flex;
  align-items:center;

}

/*.spacedonut{
  background: url(../images/door1.png);
  background-repeat: no-repeat;
  background-position: center;
}*/

.stars{
  position: absolute;
}

/*.article-pic img{
  width: 150%;
  height: auto;
  margin-left: -40%;
}
.article-pic2 img{
  width: 120%;
  height: auto;
  margin-top: -150%;
  margin-left: 50%;
}*/

/*.article-pic3 img{
  width: 120%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}*/

.article-pic3 {
  background-image: url(../images/door1.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  height: 600px;
  width: auto;
  margin-left: -23%;
  margin-top: -40%;
}

.header {
  background: linear-gradient(#faade9, #fbe657, #58f6f8);
  opacity: 0.7;
  padding: 0rem;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  margin-top: 0;
  z-index: 10;
}

.header a {
  display: inline-block;
  color: black;
  text-decoration: none;
  transform: rotate(270deg) translateX(-50px);
}

[data-aos="einhorn"] {
  transform: rotate(0);
}

[data-aos="einhorn"].aos-animate {
  transform: rotate(180deg);
}



body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: none;
}

body::-webkit-scrollbar-track-piece{
  background: linear-gradient(#faade9, #fbe657, #58f6f8);
}

body::-webkit-scrollbar-thumb {
background: transparent;
background: linear-gradient(#faade9, #fbe657, #58f6f8);
outline: 1px solid slategrey;
}
