html {
  font-family: "Arvo";
  font-size: 18px;
  line-height: 1.6;
  background-color: ;
}

body {
  background-image:url("strasse.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  margin: 0;
}

.header {
  background-color: yellow;
  padding: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

.header a {
  font-family: "League Spartan";
  text-decoration: none;
  color: black;
  letter-spacing: 2rem;
  text-transform: uppercase;
}

h1 {
  font-family: "League Spartan";
}

.taxi-header {
  max-width: inherit;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  position:relative;
}

.taxi-header::before {
  content: "";
  background: linear-gradient(0deg, yellow, transparent);
  position: absolute;
  width:100%;
  height: 200px;
  bottom:0;
  opacity:2;
}

.taxi-module {
  padding:
}

.header-bg {
  padding-bottom: 3rem;
  background-position: center;
  background-image: url(header_2.gif);
  background-repeat: no-repeat;
  background-color: yellow;
  box-shadow: 0px 0px 50px 5px yellow;
}

.taxi-inner:first-of-type p:first-of-type {
  font-size: 1.4rem;
  font-weight: 700;
}

.taxi-inner {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
  padding: 2rem;
  background-image: url(papier23.jpeg);
  background-size:800px;
  background-repeat: repeat-y;
  background-color: yellow;
  /*box-shadow: 0px 0px 20px 2px black;*/

}

.taxi-inner-wide {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.taxi-image img {
  max-width: 100%;
}

.taxi-steckbrief {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.taxi-steckbrief-image-1 {
  background-image: url("1.png");
  background-size:cover;
  background-position: center;
  margin-right: 2rem;
}

.taxi-steckbrief-image-1 img {
  width: 200px;
  height: 200px;
}

.taxi-steckbrief-image-1:hover {
  background-image: url("1b.png");
  transform: rotate(-5deg);
  transition: all 0.3s ease-in-out 0s;
}

.taxi-steckbrief-image-2 img {
  width: 200px;
  height: 200px;
}

.taxi-steckbrief-image-2 {
  background-image: url("2.png");
  background-position: center;
  background-size: cover;
  margin-right: 2rem;
}

.taxi-steckbrief-image-2:hover {
  background-image: url("2b.png");
  transform: rotate(-5deg);
  transition: all 0.3s ease-in-out 0s;
}

.footer {
  background-color: black;
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  color: white;
}

/*
.taxi-text-1 {
  background: linear-gradient(180deg, yellow 60%, transparent);
}/*
