html {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}
/* NOTE: das ist eine Überschrift */

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 2rem;
  margin-top: 2em;
  margin-bottom: 1em;
}

/* NOTE: Nur erster Absatz wird groß */

p:first-of-type {
  font-size: 1.4rem;
}

.article-inner {
 max-width: 700px;
 margin-left: auto;
 margin-right: auto;
}

.article-inner-wide {
 max-width: 900px;
 margin-left: auto;
 margin-right: auto;
}

/* NOTE: img betrifft nur die bilder im artikel  */

.article-image img {
 max-width: 100%;
}
