body {
  background-color: black;
  color: white;
}

section {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
html {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  line-height: 1.1;
  text-transform: uppercase;
}
h1 {
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 3rem;
  margin-bottom: 3em;
}

h2 {
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1rem;
  margin-bottom: 2em;
}

.first-article {
  max-width: 700px;
}

.first-image img {
  width: 100%;
}
