.header-kuenst {
font-family: Teko;
font-size: 80px;
font-weight: 300;
text-align: left;
color: #f17571;
margin-left: 300;
hightt:0;
display: inline-block;
box-sizing: border-box;
  position: relative;
  padding-right: 0;
}

.header-liche {
	font-family: Teko;
	font-size: 80px;
	font-weight: 300;
	text-align: left;
	color: #33495f;
  display: inline-block;
  box-sizing: border-box;
    position: relative;
}

.header-inteligenz {
  padding-left: 600;
  margin-top: 0;
  height: 180;
  margin:0;

  border: 0;
  margin: 0;
	font-family: Teko;
	font-size: 80px;
	font-weight: 300;
	text-align: left;
	color: #33495f;
  display: inline-block;
  box-sizing: border-box;
    position: relative;
}
