html{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Boston-Regular', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

h1, h2, h3, h4, h5 {
  font-family: Boston-Black;
	font-weight: normal;
	font-style: normal;
	line-height: 1em;
	padding: 0;
	margin: 0 0 1em 0;
}

h2{
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {

}

ul{
  margin: 0px;
}

main{
  margin: auto;
  width: 100%;
}

section{
  column-count: 2;
  column-gap: 50px;
  margin: auto;
  width: 800px;
}
.h1box{
  margin: auto;
  width: 800px;
}

#fp-nav.right{
  right: calc(50% - 500px);
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
  height: 4px;
  width: 4px;
  margin: -2px 0 0 -2px;
  border-radius: 100%;
  background-color: tomato;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background-color: rgb(100, 100, 100);
}

p{
  margin: 0 0 0.5em 0;
}

.inlineimg{
  width: 12px;
}

@media all and (max-width: 780px) {
  section{
    column-count: 1;
    width: 100%;
    padding: 0 8px;
  }
}
