html{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Boston-Regular', sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

h1, h2, h3, h4, h5 {
  font-family: Boston-Black;
	font-weight: normal;
	font-style: normal;
	line-height: 1em;
	padding: 0;
	margin: 5px 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {

}

@media all and (max-width: 780px) {

}
