html{
  font-family: 'Comic-Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;

}
body{
  background-color: pink;
}

h1{
  font-family: 'Arimo', serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 2rem;
}
