.body {margin: 0px;}

.metaball-video{
  position: relative;
  width: 100%;
  max-height: 1024px;
  overflow: hidden;
  }

#metaball-video {
  width: 100%;
}


.spirale_animation {
  position: relative;
  width: 100%;
  max-height: 2048px;
  overflow: hidden;
  }

#spirale_animation {
  width: 100%;
}

.metaball-video{
margin: 0;
padding: 0;
}

.gehirn_überschrift {
	font-family: Teko;
	font-size: 224px;
	font-weight: 500;
	color: #33495f;
  margin: 0;
}

.grosse_zahl {
	font-family: Teko;
	font-size: 150px;
	font-weight: 500;
	color: #33495f;
  margin: 0;
  margin-bottom: -60px;
}

.subheadline {
	font-family: Teko;
	font-size: 24px;
	letter-spacing: 1.1px;
	color: #394a5c;
}


.info-gehirn-rechtsbündig {
  text-align: right;
  margin-right: 137px;

}

.info-gehirn-linksbündig{
  text-align: left;
  margin-left: 137px;
}


.gehirn_infografik{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
