.spirale_animation {
  min-height: 100vh;
  position: relative;
  /*width: 100%;*/

  }

#spirale_animation {
  width: 100%;
  object-fit: cover;
}

/* NOTE: Ein Beispiel für den Code, der gut mit Responsive funktioniert. Wenn man eine andere Variante findet,
kann man löschen. Der Code wurde von Lena geschrieben.*/

#spirale_animation {
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  overflow: hidden;
}
.gehirn_überschrift {
  font-family: 'Teko';
	font-size: 150px;
	font-weight: 500;
	color: #33495f;
  /*text-shadow: 0px 0px 3px #F7F2E0,
               0px 0px 5px #F7F2E0;*/
  margin: 0;
}

.grosse_zahl {
  font-family: 'Teko';
	font-size: 150px;
	font-weight: 600;
	color: #33495f;
  /*text-shadow: 0px 0px 5px #F7F2E0,
               0px 0px 8px #F7F2E0;*/
  margin: 0;
  padding: 0;
    line-height: 1.0;
}

.subheadline {
	font-family: 'Raleway';
	font-size: 24px;
  font-weight: 100;
	letter-spacing: 1.38;
  line-height: 30px;
	color: #33495f;
  font-weight: 500;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

.subheadline h2 {
  margin: 0;
  padding: 0;
}

.info-gehirn-rechtsbündig {
  text-align: right;

}

.info-gehirn-linksbündig{
  text-align: left;
}


.gehirn_infografik {
  position: absolute;
  top: 10px;
  right: 105px;
  bottom: 0;
  left: 95px;
}

.infographic-1-info {
  margin-bottom: 120px;
}

.infographic-2-info {
  margin-bottom: 100px;
}

.infographic-3-info {
  margin-bottom: 20px;
}

.infographic-4-info {
  margin-bottom: 200px;
}

.infographic-5-info {
  margin-bottom: 0px;
}

@media all and (max-width: 1300px) {
  .info-gehirn-rechtsbündig {
    /*text-align: left;
  }*/
}
  .infographic-1-info {
    margin-bottom: 10px;
  }
  .infographic-2-info {
    margin-bottom: 10px;
  }
  .infographic-3-info {
    margin-bottom: 10px;
  }
  .infographic-4-info {
    margin-bottom: 10px;
  }
  .infographic-5-info {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 800px) {
    .subheadline {
      font-size: 18px;

    }

    .grosse_zahl {
      font-size: 130px;
    }

}

@media all and (max-width: 600px) {
    .grosse_zahl {
      font-size: 100px;
    }

    .subheadline {
      font-size: 16px;
    }

}

@media all and (max-width: 420px) {
  .grosse_zahl {
    font-size: 80px;
  }
  .subheadline {
    font-size: 14px;
  }
}
