html{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #313131;
}

body{
  background-color: #f1f1f2;
}

h1{
  font-family: 'source sans',
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 2rem;
  margin-bottom: 1em;
  margin-top: 2em;
}

p:first-of-type {
  font-size: ;
}

.article-inner{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.article-image img {
<<<<<<< HEAD
    width: 100%;
}

.article-module {
  padding: 1.5rem 0;
}

.article-text-info {
  background-color: #40E0D0;
  float: right;
  width: 8rem;
  padding: 1rem 1.3rem;
  margin-left: 1rem;
  margin-bottom:  1rem;
  border: 2px dotted white;
  font-family:'Merriweather', serif;
  font-weight: bold;
  color: white;

/* NOTE: rechts unten blur überfüllen farbe */
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.4);
}


.article-teaser {
  display: flex;
  text-decoration: none;
  color: red;
  transition: all 2s;
}

.article-teaser:hover {
  color: blue;
  transform: rotate(30deg);
}

.article-teaser-image img {
  width: 10rem;
}

.article-teaser-image {
  margin-right: 1rem;
}

.article-graphic {
  text-align: center;
}

.article-teaser-headline {
  font-family:'Merriweather', serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.animated-eye {
animation: fancy 0.6s infinite alternate;
transform-origin: center;
}
@keyframes fancy {
to {
  transform: scale(1.2);
  fill: pink;
}
}

.article-white {
  background-color: black;
  width: 400;
  height: 400;
position: center;
}

.animated-cat {
  animation: cat 3s infinite;
  transform-origin: center;
  trans
  }
  @keyframes cat{
to{  transform: rotate(360deg);

}
}
=======
  width: 100%;
}

.article-inner-wide{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
/* Kommentare unsichtbar einfügen */
/* NOTE: hallo hallo hallo */
>>>>>>> b7d9ac331db79434bd9ca89a955420acb72028c2
