.article-stage {
  background-image: url(pexels-photo-204693.jpeg);
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/
  min-height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  align-items: flex-end;
  color: white;
  position: relative;
}


.article-stage::before{
  content: "";
  background: linear-gradient(0deg, grey, transparent);
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
}

.stage-headline {
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.2;
  position: relative;
}

.stage-subline{
  font-weight: normal;
  font-size: 1rem;
  position: relative;
}

body {
  margin:0;}
