html {
  font-family: 'Open Sans';
  font-size: 22px;
  line-height: 1.5;
}

  
body {
  background-color: white ;
}


h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 1em 0;
}

.button {

  font-size: 2rem;
  font-family: 'Open Sans';
  background-color: yellow;
  border: 0.5rem solid black;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 5px 5px 0 0 black;
  cursor: url(umbrella.png), pointer;

}



.button:hover {
  background-color: yellow;
  border-style: double;
}

.article-interactive {
  text-align: center;
  min-height: 60vh;
  background-color: blue;
  display: flex;
  align-items: center;
}

.action {
  background: url(rain.gif);
  background-repeat: no-repeat;
  background-position: center;
}

/*Hallo Strg + Shift + 7*/

/* NOTE: n + tab  */

.animated-rain4 {
  animation: rain 0.3s infinite;
}

.animated-rain3 {
  animation: rain 0.6s infinite;
}

.animated-rain2 {
  animation: rain 1.9s infinite;
}

.animated-rain {
  animation: rain 0.9s infinite;
}

.animated-rain5 {
  animation: rain 0.9s infinite;
}



@keyframes rain {
  to {
    transform: translateY(500px) translateX(30px);
  }
}

.animated-eye {
  animation: fancy 1s infinite alternate;
  transform-origin: center;
}

@keyframes fancy {
  to {
    fill:blue;
    transform: scale(1.2);
  }
}

.animated-mouth {
  animation: turn 3s infinite alternate;
  transform-origin: center;
}

@keyframes turn {
to {
  transform: rotate(360deg) ;
}

}



.article-graphic {
  text-align: center;
}

.article-text-info {
  background: #f1f1f1;
  float:right;
  width: 12rem;
  padding: 1rem 1.3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.8);
}

.article-text:first-of-type p:first-of-type {
  font-size: 1.4rem;
  }

.article-module {
  padding: 1.5rem 0;
}

.article-inner {
max-width: 700px;
margin-left: auto;
margin-right: auto;
}

.article-inner-wide {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.article-image img {
  max-width: 100%;
}




.article-teaser {
  display: flex;
  text-decoration: none;
  color: black;
  text-transform: uppercase;

}

.article-teaser:hover .article-teaser-headline {
  transform: rotate(3deg);
}

.article-teaser:hover {
  color: green;

}

.article-teaser-image img {
  width: 200px;
}

.article-teaser-image {
  margin-right: 1rem;
}

.article-teaser-headline {
  align-self: center;
  transition: all 1s;
}

.header {
  background-color: black;
  padding: 1rem;
  position: fixed;
  left:0px;
  right: 0px;
  text-align: center;
  top: 0;
  z-index: 5;
}

.header a {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  letter-spacing: 2px;
}

[data-aos="wurst"] {
  transform: rotate(180deg);
  transition-property: transform;
}

[data-aos="wurst"].aos-animate {
  transform: rotate(0);

}
