html {
  font-size: 22px;
  line-height: 1.5;
}

body {
background: black;
}

* {
  margin: 0;
}

h1 {
  font-family: 'Spectral SC', capiserif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 1em 0;
  text-shadow: 0px 0px 25px  #ffffff;
}

p {
  padding-bottom: 0.8rem;
}

.text {
  font-family: 'VT323', monospace;
  font-weight: 400;
  color: white;
}

.quote {
  letter-spacing: 4px;
  text-indent: 1.5rem;
}


.header {
  background-color: #000000;
  padding: 0.5rem;
  position: fixed;
  left:0px;
  right: 0px;
  text-align: center;
  top: 0;
  z-index: 105;
}

.header a {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  letter-spacing: 2px;
}


.background {
  width: 100%;
  height: auto;
  z-index: 0;
  padding-top: 0.5rem;
}

.regen {
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.article {
  position: relative;
  z-index: 100;
  width: 700px;
  margin-left: auto;
  margin-right: auto;

}

/* NOTE: Überschrift Neon Sign "Cyberpunk" */

.Überschrift-Neon-Off {
  top: 28em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}


.Überschrift-Neon-On {
  top: 28em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  opacity: 0;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Überschrift-Neon-Off:hover {
  opacity:0;
}

.Überschrift-Neon-On:hover {
  opacity:1;
}


.Überschrift-Neon-Off img {
  width: 100%;
}

.Überschrift-Neon-On img {
  width: 100%;
}

/* NOTE: Unterüberschrift Origins */

.Origins-Off {
  top: 22em;
  position: absolute;
  left: 25%;
  z-index: 100;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Origins-On {
  top: 22em;
  position: absolute;
  left: 25%;
  z-index: 100;
  opacity: 0;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Origins-Off:hover {
  opacity:0;
}

.Origins-On:hover {
  opacity:1;
}

.Origins-Off img {
  width: 65%;
}

.Origins-On img {
  width: 65%;
}

/* NOTE: Unterüberschrift Definition */

.Definition-Off {
  top: 17em;
  position: absolute;
  left: 30%;
  z-index: 100;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Definition-On {
  top: 17em;
  position: absolute;
  left: 30%;
  z-index: 100;
  opacity: 0;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Definition-Off:hover {
  opacity:0;
}

.Definition-On:hover {
  opacity:1;
}

.Definition-Off img {
  width: 40%;
}

.Definition-On img {
  width: 40%;
}

/* NOTE: Unterüberschrift Essence */

.Essence-Off {
  top: 13.5em;
  position: absolute;
  right: 10%;
  z-index: 100;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Essence-On {
  top: 13.5em;
  position: absolute;
  right: 10%;
  z-index: 100;
  opacity: 0;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Essence-Off:hover {
  opacity:0;
}

.Essence-On:hover {
  opacity:1;
}

.Essence-Off img {
  width: 30%;
}

.Essence-On img {
  width: 30%;
}



/* NOTE: Unterüberschrift When is Cyberpunk Now */

.Now-Off {
  top: 7em;
  position: absolute;
  right: 35%;
  z-index: 100;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Now-On {
  top: 7em;
  position: absolute;
  right: 35%;
  z-index: 100;
  opacity: 0;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Now-Off:hover {
  opacity:0;
}

.Now-On:hover {
  opacity:1;
}

.Now-Off img {
  width: 25%;
}

.Now-On img {
  width: 25%;
}

/* NOTE: Exit Sign */

.Exit-Off {
  top: 32em;
  position: absolute;
  right: 0;
  z-index: 100;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Exit-On {
  top: 32em;
  position: absolute;
  right: 0;
  z-index: 100;
  opacity: 0;
  -webkit-filter: blur(0.03rem);
  -moz-filter: blur(0.03rem);
  filter: blur(0.03rem);
}

.Exit-Off:hover {
  opacity:0;
}

.Exit-On:hover {
  opacity:1;
}

.Exit-Off img {
  width: 25%;
}

.Exit-On img {
  width: 25%;
}

/* NOTE: Icon */

.ufo {

  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;

}

.ufo:hover {
  background-image: url(ufoneonon.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;

}

.article-interactive {
  text-align: center;
  min-height: 40vh;
  display: flex;
  align-items:center;
}

.action {
  background-image: url(boom.gif);
  background-repeat: no-repeat;
  background-position: center;

}

.Zeichen img {
  width: 200px;

}

.Zeichen {
  margin-left: auto;
  margin-right: auto;

}

.Zeichen:hover {
  background-image: url(ZeichenNeon.png);
  background-size: 200px;
}

.Auto img {
  width: 200px;
}

.Auto {
  margin-left: auto;
  margin-right: auto;
}

.Auto:hover {
  background-image: url(AutoNeon.png);
  background-size: 200px;
}

.Computer img {
  width: 200px;
}

.Computer {
  margin-left: auto;
  margin-right: auto;
}

.Computer:hover {
  background-image: url(ComputerNeon.png);
  background-size: 200px;
}

.Gun img {
  width: 200px;
}

.Gun {
  margin-left: auto;
  margin-right: auto;
}

.Gun:hover {
  background-image: url(GunNeon.png);
  background-size: 200px;
}

/* NOTE: Regen Animation */

.animated-rain4 {
  animation: rain 0.4s infinite;
  z-index: 5;
}

.animated-rain3 {
  animation: rain 0.6s infinite;
  z-index: 5;
}

.animated-rain2 {
  animation: rain 1.9s infinite;
  z-index: 5;
}

.animated-rain {
  animation: rain 0.9s infinite;
  z-index: 5;
}

.animated-rain5 {
  animation: rain 0.9s infinite;
  z-index: 5;
}



@keyframes rain {
  to {
    transform: translateY(1500px) translateX(140px);
  }
}

.article-parallax {
  width: 100%;
  height: auto;

}
