html {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 1.2;
}

body {
  background-color: white ;
}


h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 1em 0;

}

/*Hallo Strg + Shift + 7*/

/* NOTE: n + tab  */

.article-text-info {
  background: #f1f1f1;
  float:right;
  width: 12rem;
  padding: 1rem 1.3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.8);
}

.article-text:first-of-type p:first-of-type {
  font-size: 1.4rem;
  }

.article-module {
  padding: 1.5rem 0;
}

.article-inner {
max-width: 700px;
margin-left: auto;
margin-right: auto;
}

.article-inner-wide {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.article-image img {
  max-width: 100%;
}
