html{
  font-family: "Poiret One";
  font-size: 18px;
  line-height: 1.4;
}


body {
background-color: lightblue;
}

h1 {
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 2rem;

}

/*blablablabla*/

<<<<<<< HEAD
p:first-of-type {
  font-size: 1.4rem;
}
=======
.article-text:first-of-type p:first-of-type {
  font-size: 1.4rem;
}
.article-module {
 padding: 1.5rem; 0;
}
.article-inner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.article-inner-wide {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 1.2rem;
}
>>>>>>> 134fbae2a86e4c4b731aa5887b314d82ebe5ebef

.article-inner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.article-inner-wide {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
<<<<<<< HEAD
=======
}
.article-text-info {
  background-color: yellow;
  float:right;
  width: 10rem;
  padding: 1rem 1.3rem;
  margin: 1em;
  border: 10px double black;
  box-shadow: 10px 10px 5px 0 rgba(255, 0, 0, 0.5);
>>>>>>> 134fbae2a86e4c4b731aa5887b314d82ebe5ebef
}
